.sidenav {
  width: 64px;
  height: 100vh;
  grid-area: aside-nav;
  position: fixed;
  top: 0;
  background: var(--color-white);
  border-right: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  gap: 24px;
  z-index: 100;
}

.sidenav__logo {
  width: 40px;
  height: 40px;
  border-radius: var(--radius);
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  display: grid;
  place-items: center;
}

.sidenav__menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: end;
  gap: 14px;
}

.sidenav__item {
  width: 40px;
  height: 40px;
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  color: var(--color-gray-400);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidenav__item.last {
  margin-top: auto;
}

.sidenav__item:hover {
  background: var(--color-gray-100);
  color: var(--color-primary);
}

.sidenav__item.active {
  background: var(--color-info-light);
  color: var(--color-primary);
}
