.table-container {
  width: 100%;
  position: relative;
}

.project-table {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  overflow: scroll;
  border: solid 1px var(--color-gray-300);
}

/* GRID BASE (ANTES TABLE) */
.project-header,
.project-row {
  width: max-content;
  display: grid;
  grid-template-columns: 60px 2.5fr repeat(9, 150px);
  align-items: stretch;
}

/* HEADER */
.project-header {
  background: var(--color-gray-100);
  font-weight: 600;
  font-size: 13px;
  border-bottom: 1px solid #e2e8f0;
  padding: 5px 20px;
}

/* BODY */
.project-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 0;
  gap: 10px;
  /* background-color: var(--color-gray-100); */
}

.project-row {
  height: 100px;
  border-bottom: 1px solid #f1f5f9;
  border: solid 1px var(--color-gray-300);
  border-top-left-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
  grid-template-rows: auto;
}

.project-row:hover {
  background: #f8fafc;
  border-left: solid 3px var(--color-primary);
}

/* CELLS */
.col-number {
  border-right: solid 1px var(--color-gray-200);
}

.col-number,
.col-project,
.col-stage {
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.col-stage {
  justify-content: center;
  margin-left: 80px;
}

.col-project {
  justify-content: start;
  padding-left: 10px;
  padding-right: 200px;
}

.btn-table {
  cursor: pointer;
  width: 35px;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-white);
  border: solid 1px var(--color-gray-200);
  border-radius: var(--radius-sm);
}

.btn-table:active {
  opacity: .6;
}

/* DRAG */
.drag-handle {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: grab;
  color: #94a3b8;
}

/* PROJECT INFO */
.project-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.project-id {
  font-size: 11px;
  color: #94a3b8;
}

.project-name {
  font-weight: 600;
}

.project-client {
  font-size: 12px;
  color: #64748b;
}

/* BADGES */
.priority-badge {
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 999px;
  width: fit-content;
}

.priority-badge.urgent {
  background: #fee2e2;
  color: #b91c1c;
}

.priority-badge.paused {
  background: #fef3c7;
  color: #92400e;
}

/* HEADER WORKERS */
.workers-count {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 11px;
  color: #64748b;
}
